.control-panel-wrapper {
  width: auto;
  display: flex;
  align-items: center;
  align-self: center;
  column-gap: 1rem;
  margin-top: 2rem;
}

.control-panel-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--indigo-500);
  color: white;
  font-weight: 500;
  text-wrap: nowrap;
  border-radius: 8px;
  border: solid 2px var(--indigo-700);
  padding: clamp(0.475rem, 0.25vw + 0.25rem, 0.55rem)
    clamp(0.875rem, 1.25vw + 0.25rem, 1.25rem);
  cursor: pointer;
  font-size: clamp(0.875rem, 1.25vw + 0.25rem, 1.1rem);
}

.control-panel-wrapper button:hover {
  background-color: var(--indigo-600);
}

.control-panel-wrapper button:active {
  background-color: var(--indigo-700);
  transform: scale(0.95);
  transition: all 0.15s ease-in-out;
}

@media (max-width: 600px) {
  .control-panel-wrapper {
    gap: 0.25rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .control-panel-wrapper button:nth-of-type(1) {
    width: 100%;
  }

  .control-panel-wrapper button:nth-of-type(2),
  .control-panel-wrapper button:nth-of-type(3) {
    width: 49%;
  }
}
