.education {
  padding: clamp(1.5rem, -0.24593rem + 3.123vw, 3rem)
    clamp(1rem, -0.24593rem + 5.246vw, 5rem);
  width: 100%;
  max-width: 1280px;
  max-height: 70vh;
  overflow-y: scroll;
  display: grid;
  row-gap: 1rem;
}

.education-entry .input-field-group input {
  width: 100%;
}

.education-entry .input-field-group {
  margin-bottom: 1rem;
  flex: 0 0 48%;
}

.education-entry {
  display: grid;
  grid: repeat(3, auto) / 1fr 1fr;
  gap: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 8px;
}

.education-entry div:nth-of-type(1),
.education-entry div:nth-of-type(2) {
  grid-column: span 2;
}

.education-and-action-line {
  grid-column: span 2;
  display: flex;
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--indigo-800);
  margin-bottom: 0.25rem;
  align-items: center;
}

.add-education {
  display: flex;
  justify-content: center;
  background-color: var(--indigo-500);
  border-radius: 8px;
  border: solid 2px var(--indigo-700);
  padding: clamp(0.475rem, 0.25vw + 0.25rem, 0.55rem)
    clamp(0.875rem, 1.25vw + 0.25rem, 1.25rem);
  cursor: pointer;
  justify-self: center;
  color: white;
  font-size: clamp(0.875rem, 1.25vw + 0.25rem, 1.1rem);
  font-weight: 600;
  text-wrap: nowrap;
}

.add-education:hover {
  background-color: var(--indigo-600);
}

.add-education:active {
  background-color: var(--indigo-700);
  transform: scale(0.95);
  transition: all 0.15s ease-in-out;
}

.education-and-action-line button {
  margin: 0 0 0 auto;
}

.education-entry label {
  width: 100%;
}

.education-entry button {
  align-self: center;
  background: none;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  padding: 0;
  transition: transform 0.1s linear;
}

.education-entry button:hover {
  transform: scale(0.9);
}

.education-entry button:active {
  transform: scale(0.8);
}

@media (max-width: 500px) {
  .education-entry {
    display: flex;
    flex-direction: column;
  }

  .education-entry .input-field-group {
    flex: 1;
    width: 100%;
  }

  div.education-wrapper {
    gap: 0.75rem;
  }

  .education .input {
    width: 100%;
    flex: 0;
  }
}
