.nav-button {
  background-color: hsla(230, 70%, 50%, 0.6);
  border-radius: 4px;
  border: 0;
  padding: 6px;
  box-shadow: 0 0 6px hsla(230, 70%, 10%, 0.95);
}

.nav-button:hover {
  background-color: hsla(230, 70%, 45%, 0.6);
}

.nav-button:active {
  background-color: hsla(230, 70%, 40%, 0.6);
}

.nav-button:disabled {
  background-color: hsla(230, 70%, 20%, 0.6);
}

.nav-button:disabled .arrow-svg {
  filter: invert(73%) sepia(8%) saturate(721%) hue-rotate(175deg)
    brightness(87%) contrast(87%);
}

.arrow-svg,
.check-svg {
  width: 32px;
}
