.nav-button {
  background-color: var(--indigo-500);
  border-radius: 8px;
  border: solid 2px var(--indigo-700);
  padding: 6px;
  cursor: pointer;
  align-self: center;
}

.nav-button:hover {
  background-color: var(--indigo-600);
}

.nav-button:active {
  background-color: var(--indigo-700);
}

.nav-button:disabled {
  background-color: var(--indigo-100);
  border-color: var(--indigo-200);
}

.nav-button:disabled .arrow-svg {
  filter: invert(73%) sepia(8%) saturate(721%) hue-rotate(175deg)
    brightness(87%) contrast(87%);
}

.arrow-svg,
.check-svg {
  width: 32px;
  transition: all 0.15s ease-in-out;
}

.nav-button:hover .arrow-svg,
.nav-button:hover .check-svg {
  transform: scale(1.2);
}

.right-button:active .arrow-svg {
  transform: translateX(5px);
}

.left-button:active .arrow-svg {
  transform: translateX(-5px);
}

@media (max-width: 777px) {
  .nav-button {
    width: 42px;
    height: 42px;
  }
}
