html {
  height: 100dvh;
  width: 100dvw;
}

body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: grid;
  grid: min-content auto min-content / 1fr;
}

footer,
header {
  padding: 0.5rem 0;
}

header,
footer,
main {
  text-align: center;
}

footer img {
  width: 32px;
  margin: 0 auto;
}
