html,
body,
#root {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: clamp(1.75rem, 2.5vw, 2.25rem);
  line-height: 1.1;
  font-weight: 600;
  font-style: normal;
  color: var(--indigo-900);
  margin-top: 8px;
}

footer {
  font-size: 1.5em;
  font-weight: 600;
}

footer,
header {
  padding: 0.5rem 0;
}

header,
footer {
  text-align: center;
}

header img {
  width: clamp(3.5rem, 5vw, 5rem);
}
/* 60px */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

footer img {
  width: 32px;
  margin: 0 auto;
}

main {
  display: flex;
  padding: 0 16px;
  justify-content: center;
}
