:root {
  font-family: Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-light);
  background: var(--color-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Primary UI elements */
  --color-primary: #6645eb; /* Electric Violet */
  --color-secondary: #9a28e6; /* Deep Violet */
  --color-tertiary: #1fc5db; /* Cerulean */

  /* Background colors */
  --color-bg-dark: #010214; /* Midnight Blue */
  --color-bg-deep: #151626; /* Space Cadet */
  --color-bg-mid: #2b2a2f; /* Charcoal */

  /* Subtle backgrounds */
  --color-bg-subtle-dark: #3f3d48; /* Gunmetal Gray */
  --color-bg-subtle-light: #585463; /* Cool Gray */

  /* Text and foreground elements */
  --color-text-light: #8d90a5; /* Light Slate Gray */
  --color-text-muted: #babbc4; /* Gainsboro */

  /* Light themes */
  --color-light-1: #f2f3f4; /* Cultured */
  --color-light-2: #f8f8f9; /* Snow */
  --color-light-3: #ffffff; /* White */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

*:focus {
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-style: italic;
  font-weight: 400;
  font-style: normal;
}

.subtitle {
  font-size: 1.8em;
  font-weight: 500;
  font-style: normal;
}

footer {
  font-size: 1.5em;
  font-weight: 600;
}
